<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GVDianBa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B59B1DD01E11F7310063F329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B59B1DE91E11F7310063F329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B59B1DF41E11F7310063F329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
